<div id="added-ajax-container-<%= index %>" class="box added">
  This container has been added via ajax and has a positioned tooltip loaded by ajax.
</div>

<%= context_tooltip("#added-ajax-#{index}", :contextElement => "'added-ajax-container-#{index}'", :remoteUrlOptions => {:url => "'/main/ajax'"}, :position => "'bottom-left'") %>