<p class="seeOther">
  <%= link_to "JQuery Version",  :action => 'index' %>,
  <%= link_to "Prototype Version",  :action => 'prototype' %>,
  <%= link_to "JQuery Performance Version",  :action => 'jquery_performance' %>,
  <%= link_to "Prototype Performance Version",  :action => 'prototype_performance' %>
</p>
