<% content_for :javascripts do %>
  <%= javascript_include_tag :defaults, context_tooltip_javascript_file(:library => 'jquery', :unobtrusive => false) %>
<% end %>

<h1>JQuery Performance Version</h1>
<%= render :partial => 'links' %>

<div id="javascript-log"></div>

<%= render :partial => "performance" %>