#see-other {
  margin-bottom: 25px;
}

#javascript-log {
  float: right;
  width: 600px;
  height: 200px;
  border: 1px dotted blue;
  overflow: auto;
}

#javascript-log p {
  width: 1000px;
}

.box {
  border: 1px solid red;
  padding: 3px;
  margin: 5px;
  width: 200px;
  position: relative;
}

#top-left-container {
  float: left;
}

#top-right-container {
  float: right;
}

#bottom-left-container {
  float: left;
}

#bottom-right-container {
  float: right;
}