.tooltip {
  border: 1px solid green;
  padding: 3px;
  float: left;
  position: absolute;
  width: 150px;
  top: 0px;
  right: -160px;
  background-color: white;
}

.tooltipContent {
  border: 1px solid green;
  padding: 3px;
  width: 150px;
  background-color: white;
}